<div style="display: grid;grid-column: 1/2;grid-row: 2/-1;grid-template-columns: 15px 1fr 15px;width: 100%;grid-template-rows: min-content 1fr;">
    <div class="content-block" style="grid-row: 2/-1;">
        <form class="login-form" id="login" method="post" action="">
            <img src="/images/favicon.ico" alt="">
            <label>
                <input id="email" type="text" name="email">
            </label>
            <label>
                <input id="password" type="password" name="password">
            </label>
            <button id="loginBtn" type="submit"></button>
            <h2 id="loginNote"></h2>
        </form>
    </div>
</div>