<div style="display: grid;grid-column: 1/2;grid-row: 2/-1;grid-template-columns: 15px 1fr 15px;width: 100%;grid-template-rows: min-content 1fr;">
    <div class="adminPanel" style="grid-row: 2/-1;">
        <div class="reports">
            <a href="/a/reports"><div class="img">
                <img src="/images/icons/report.svg" width="140" height="140" alt="">
            </div></a>
            <h2 id="reports" style="text-align: center;"></h2>
        </div>
        <div class="manageUsers">
            <a href="/a/manageUsers"><div class="img">
                <img src="/images/icons/users.svg" width="140" height="140"  alt="">
            </div></a>
            <h2 id="manageUsers" style="text-align: center;"></h2>
        </div>
        <div class="orders">
            <a href="/a/orders"><div class="img">
                <img src="/images/icons/orders.svg" width="140" height="140" alt="">
            </div></a>
            <h2 id="orders" style="text-align: center;"></h2>
        </div>
        <div class="addProduct">
            <a href="/p/new"><div class="img">
                <img src="/images/icons/plus.svg" width="140" height="140" alt="">
            </div></a>
            <h2 id="product" style="text-align: center;"></h2>
        </div>
        <div class="category">
            <a href="/c/new"><div class="img">
                <img src="/images/icons/plus.svg" width="140" height="140" alt="">
            </div></a>
            <h2 id="category" style="text-align: center;"></h2>
        </div>
        <div class="brand">
            <a href="/b/new"><div class="img">
                <img src="/images/icons/plus.svg" width="140" height="140" alt="">
            </div></a>
            <h2 id="brand" style="text-align: center;"></h2>
        </div>
    </div>
</div>