<div class="footer">
    <div style="background-color: #d3d3d3; height: 2px;width: 100%;grid-column: 1/-1;"></div>
    <div class="media" style="display: grid;grid-template-columns: 1fr 1fr 1fr;grid-auto-flow: column;width: 100%;place-items: center;">
        <a rel="noopener" href="https://www.facebook.com/mosalaboudy" target="_blank"><img src="/images/icons/facebook.png" alt="" width="38" height="38"></a>
        <a rel="noopener" href="https://www.facebook.com/mosalaboudy" target="_blank"><img src="/images/icons/whatsapp.png" alt="" width="38" height="38"></a>
        <a rel="noopener" href="https://www.facebook.com/mosalaboudy" target="_blank"><img src="/images/icons/location.png" alt="" width="38" height="38"></a>
    </div>
    <div>
        <h2 id="copyrights"></h2>
        <h2 id="powerdBy"></h2>
    </div>
    <div style="display: grid;grid-template-columns: 1fr 1fr;grid-auto-flow: column;width: 100%;">
        <div style="width: 100%;">
            <h3 id="number1"></h3>
            <h3 id="number2"></h3>
            <h3 id="number3"></h3>
        </div>
        <div style="width: 100%;">
            <h3 id="number4"></h3>
            <h3 id="number5"></h3>
            <h3 id="number6"></h3>
        </div>
    </div>
</div>