<div style="display: grid;grid-column: 1/2;grid-row: 2/-1;grid-template-columns: 15px 1fr 15px;width: 100%;grid-template-rows: min-content 1fr;">
    <div id="aboutPage" style="grid-column: 2/3;grid-row: 2/-1;">
        <div id="leadershipTag"></div>
        <div class="aboutMedia">
            <div style="place-items: center;text-align: center;display: grid;">
                <img src="/images/about/leadership1.jpeg" alt="" width="150" height="150">
                <h2 id="leadership1"></h2>
                <h3 style="color: #a1a1a1;font-size: 14px;" id="leadership1Job"></h3>
            </div>
            <div style="place-items: center;text-align: center;display: grid;">
                <img src="/images/about/leadership2.jpeg" alt="" width="150" height="150">
                <h2 id="leadership2"></h2>
                <h3 style="color: #a1a1a1;font-size: 14px;" id="leadership2Job"></h3>
            </div>
            <div class="last" style="place-items: center;text-align: center;display: grid;">
                <img src="/images/about/leadership3.jpeg" alt="" width="150" height="150">
                <h2 id="leadership3"></h2>
                <h3 style="color: #a1a1a1;font-size: 14px;" id="leadership3Job"></h3>
            </div>
        </div>
        <div id="descriptionTag"></div>
        <div id="description" style="text-align: center;"></div>
        <div id="locationTag"></div>
        <div id="location" style="text-align: center;"></div>
        <div id="productsTag"></div>
        <div class="aboutMedia">
            <div style="place-items: center;text-align: center;display: grid;">
                <img src="/images/about/product1.jpeg" alt="" width="200" height="200">
            </div>
            <div style="place-items: center;text-align: center;display: grid;">
                <img src="/images/about/product2.jpeg" alt="" width="200" height="200">
            </div>
            <div style="place-items: center;text-align: center;display: grid;">
                <img src="/images/about/product3.jpeg" alt="" width="200" height="200">
            </div>
            <div style="place-items: center;text-align: center;display: grid;">
                <img src="/images/about/product4.jpeg" alt="" width="200" height="200">
            </div>
            <div class="last" style="place-items: center;text-align: center;display: grid;">
                <img src="/images/about/product5.jpeg" alt="" width="200" height="200">
            </div>
        </div>
    </div>
</div>