<% if (categories.length == 0) { %>
    <h2 class="show-message msg-3200"></h2>
<% } else { %>
    <div style="display: grid;grid-column: 1/2;grid-row: 2/-1;grid-template-columns: 15px 1fr 15px;width: 100%;grid-template-rows: min-content 1fr;">
        <h2 id="allCategories" style="margin-top: 15px;margin-bottom: 15px;height: 30px;grid-column: 2/3;"></h2>
        <div class="items">
            <% categories.forEach(category => { %>
                <a href="/c/<%= category.category.id %>/show"><div class="item">
                    <% if(category.image != undefined) { %> 
                        <img src="<%= category.image.imagePath %>" alt="" width="150" height="150">
                    <% } else { %>
                        <img src="/images/icons/loadingFaild.png" alt="" width="150" height="150">
                        <% } %> 
                        <h2 style="font-size: 18px; grid-column: 1/-1;"><%= category.category.title %></h2>
                </div></a>
            <% }) %>
        </div>
    </div>
<% } %>