<div style="display: grid;grid-column: 1/2;grid-row: 2/-1;grid-template-columns: 15px 1fr 15px;width: 100%;grid-template-rows: min-content 1fr;">
    <form class="message-form" action="" method="post" style="grid-row: 2/-1;">
        <div>
            <div>
                <h2><%= to.username %></h2>
                <textarea name="content" placeholder="" id="typeMessage"></textarea>
                <button type="submit" id="userSend">send</button>
            </div>
        </div>
    </form>
</div>