<div style="display: grid;grid-column: 1/2;grid-row: 2/-1;grid-template-columns: 15px 1fr 15px;width: 100%;grid-template-rows: min-content 1fr;">
    <form action="./update" method="post" class="new-product-form" style="grid-row: 2/-1;margin-top: 30px;">
        <label>
            <input type="file" name="images" class="filepond upload-form">
        </label>
            <label>
                Title: <input class="" type="text" name="title">
            </label>
            <h2>Description: </h2><textarea name="description" class=""></textarea>
            <button style="place-self: center;" type="submit" class="" id="brandUpdate"></button>
    </form>
</div>